#repoPane, #relaPane {
    -fx-border-width: 1;
    -fx-border-insets: 0;
    -fx-border-color: GRAY;
}

.split-pane:vertical .split-pane-divider, .split-pane:horizontal .split-pane-divider {
    /*-fx-position-shape: false;*/
    /*visibility: hidden;*/
}

#back {
    -fx-background-image: url("Images/back.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-insets: 0;
    -fx-border-style: hidden;
    -fx-background-color: null;
}

#back:hover {
    -fx-background-image: url("Images/FocusBack.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-insets: 0;
    -fx-border-style: hidden;
    -fx-background-color: null;


}

#back:armed {
    -fx-background-image: url("Images/ClickBack.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-insets: 0;
    -fx-border-style: hidden;
    -fx-background-color: null;
}

#home {
    -fx-background-image: url("Images/Home.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-insets: 0;
    -fx-background-color: null;

}

#home:hover {
    -fx-background-color: lavender;

}

#home:armed {
    -fx-background-color: lightgrey;
}

#advance {
    -fx-background-image: url("Images/forward.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-insets: 0;
    -fx-background-color: null;

}

#advance:hover {
    -fx-background-image: url("Images/FocusForward.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-insets: 0;
    -fx-background-color: null;

}

#advance:armed {
    -fx-background-image: url("Images/ClickForward.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-insets: 0;
    -fx-background-color: null;
}

#search_button {
    -fx-background-image: url("Images/search.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-insets: 0;
    -fx-background-color: null;

}

#PageUp {
    -fx-background-image: url("Images/PageUp.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-insets: 0;
    -fx-background-color: null;

}

#PageUp:hover {
    -fx-background-image: url("Images/FocusPageUp.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-insets: 0;
    -fx-background-color: null;
    /*-fx-background-color:rgb(201,200,200);*/
}

#PageUp:armed {
    -fx-background-image: url("Images/ClickPageUp.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-insets: 0;
    -fx-background-color: null;
    /*-fx-background-color:rgb(155,153,153);*/
}

#PageDown {
    -fx-background-image: url("Images/PageDown.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-insets: 0;
    -fx-background-color: null;

}

#PageDown:hover {
    -fx-background-image: url("Images/FocusPageDown.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-insets: 0;
    -fx-background-color: null;

}

#PageDown:armed {
    -fx-background-image: url("Images/ClickPageDown.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-insets: 0;
    -fx-background-color: null;

}

#RepFlowPane {
    -fx-vgap: 8;
    -fx-hgap: 5;
}

#timePane {
    -fx-vgap: 8;
    -fx-hgap: 24;
}

#FirstPage {
    -fx-background-image: url("Images/FirstPage.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-insets: 0;
    -fx-background-color: null;

}

#FirstPage:hover {
    -fx-background-image: url("Images/FocusFirstPage.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-insets: 0;
    -fx-background-color: null;

}

#FirstPage:armed {
    -fx-background-image: url("Images/ClickFirstPage.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-insets: 0;
    -fx-background-color: null;

}

#LastPage {
    -fx-background-image: url("Images/LastPage.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-insets: 0;
    -fx-background-color: null;

}

#LastPage:hover {
    -fx-background-image: url("Images/FocusLastPage.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-insets: 0;
    -fx-background-color: null;

}

#LastPage:armed {
    -fx-background-image: url("Images/ClickLastPage.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-insets: 0;
    -fx-background-color: null;

}

#Contributors {
    -fx-font-family:"Calibri";
    -fx-font-size: 24px;
    -fx-cursor: HAND;
}

#Collaborators {
    -fx-font-family:"Calibri";
    -fx-font-size: 24px;
    -fx-cursor: HAND;
}


.toggle-button {
    -fx-border-radius: 5;
    -fx-padding: 3 6 6 6;
    -fx-background-color: linear-gradient(#add8e6, #fff8dc);
}

.toggle-button:selected {
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(#5f9ea0, #add8e6);
}

.toggle-button:hover {
    -fx-background-color: linear-gradient(#fff8dc, #add8e6);
}

.button {
    -fx-background-color: linear-gradient(#f5f5dc, #add8e6);
}

.button:selected {
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(#d3d3d3, #add8e6);
}

.button:hover {
    -fx-background-color: linear-gradient(#add8e6, #f5f5dc);
}

#wrap label {
    -fx-graphic-text-gap: 0;
}

#titledPane {
    -fx-background-color: linear-gradient(#f5f5dc, #deb887);
}

.combo-box {
    -fx-border-color: gray;
    -fx-border-radius: 5;
    -fx-background-color: linear-gradient(#f5f5dc, #add8e6);
}

#SortWay {
    -fx-background-color: linear-gradient(#f5f5dc, #add8e6);
}

#RepName {
    -fx-text-fill: #5799d3;
    -fx-underline: false;
}

#RepName:hover {
    -fx-text-fill: #4094b9;
    -fx-underline: true;
}

#RepName:left {
    -fx-text-fill: #5799d3;
    -fx-underline: false;
}

#UserName {
    -fx-text-fill: #5799d3;
    -fx-underline: false;
}

#UserName:hover {
    -fx-text-fill: #4094b9;
    -fx-underline: true;

}

#UserName:left {
    -fx-text-fill: #5799d3;
    -fx-underline: false;
}

/*#GitHome{*/
    /*-fx-background-image: url("Images/xk.png");*/
/*}*/

/*#MenuBar{*/
    /*-fx-background-image: url("Images/MenuBar.png");*/
/*}*/

.bar-chart:vertical {
    -fx-font-family:"Calibri";
    -fx-font-size: 24px;
    -fx-cursor: HAND;
}

#MenuBar{
    /*-fx-background-color: linear-gradient();*/
}
#MainButton{

}